
#loginForm, #signupForm{
    background-color:#f5d3c6;
    width: 30%;
    font-size: 15px;
    margin:auto;
    padding:30px;
    border-radius: 20px;
    box-shadow: 12px 13px 7px 3px #d7d4d4;
}

.label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
 a{
   color:green;
 }

.btn {
    
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border-radius: 15px;
    box-shadow: 6px 6px 6px 2px #ada7a7;
  }
  
#register{
  border:none;
  background-color: white;
  cursor: pointer;
  text-decoration:underline;
  font-weight: bold;
}
#register :hover{
  color:red;
}
  .btn:hover {
    background-color: tomato;
    color: white;
  }

  .userCo{
    margin-right: 10px;
  }

  .accountButton{
    text-align: center;
  }

  #register, #login{
    margin: 10px;
  }
  #signupForm, #loginForm{
    text-align: center;
  }
  #pseudo, #email, #password {
    padding: 9px;
    width: 76%;
}
  
  