.write-comment{
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.bloc-commentaire{
  background-color:#fae7e7;
  text-align: left;
  padding: 5px;
  margin:5px 0 5px 0;
  border-radius: 20px;

}

.pseudo{
  font-weight: bold;
  font-size:12px;
  line-height: 0px;
}
.comment{
  line-height: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
.dateCommentaire{
  font-size: 10px;
}


.card {
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 1px rgb(0 0 0 / 38%), 0px 1px 7px 6px rgb(0 0 0 / 24%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    overflow: hidden;
    max-width: 50%;
    border: solid 1px grey;
    margin: auto;
    margin-top: 25px;
  }
  .formulaire{
    width: 70%;
    border: solid 1px #fd3106;
    background-color: #fef9f7;
    border-radius: 25px;
    margin:auto;
    margin-top:20px;
    padding:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:600;
  }

  #title{
    width: 70%;
  }

  #texte{
    width: 70%;
    height: 100px;;
  }
  .cardcontent{
    background-color: rgb(250, 231, 231);
    
  }