.user-profil{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 150px 0px 150px;
}
.user-info{
    align-items: center;
    vertical-align: center;
}
.user-info {
    border: solid 2px black;
    box-shadow: 10px 5px 5px grey;
    width: 40%;
    padding: 20px;
    
}
h2{
    text-align: center;
}
